html{
  font-family: 'ZCOOL XiaoWei', serif !important;
}
.first {
  background-image: url(images/b.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: black;
}
.first2 {
background-image: url(images/b.jpg);
min-height: 1080px;
background-attachment: scroll;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bg1 {
  background-color: #202020c5;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card1 {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}